<!DOCTYPE html>
<!-- requests -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment/common :: [//head]" />
 <body>
   <div th:include="fragment/common :: [//div[@id='logo']]"></div>
   <div class="listtable">
      <h2 th:text="#{requests.tablename(#{${asrole}})}">All your writer's requests</h2>
      <table>
        <thead>
          <tr>
            <th th:text="#{request.coltitle}">Title</th>
            <th th:text="#{requests.coldatepublished}">Published</th>
            <th th:text="#{requests.coldatemodified}">Last modified</th>
            <th th:text="#{request.colmodifiedviewed}">Viewed modified</th>
            <th th:text="#{request.colmodifiedcontacts}">Contacts modified</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="r : ${requests}" th:class="${rStat.even}?'pale-blue':'pale-green'">
            <td><a th:href="@{/user/request(id=${r.id},r=${r.role.short})}"><span th:text="${r.title}">My request title</span></a></td>
            <td align="center" th:text="${r.createdDateString}">2013-Mar-01</td>
            <td align="center" th:text="${r.modifiedDateString}">2013-Apr-12</td>
            <td align="center" th:text="${r.viewedModified}">10</td>
            <td align="center" th:text="${r.contactsModified}">2</td>
          </tr>
          <tr th:if="${requests==null || requests.size()==0}">
            <td colspan="5"><span th:text="#{requests.no}">No requests</span></td>
          </tr>
          <tr th:remove="all" class="pale-blue">
            <td>Request title</td>
            <td>2013-Mar-01</td>
            <td>2013-Apr-12</td>
            <td>10</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <div align="center">
      <form action="#" th:action="@{/user/requestadd}" method="post"> 
            <input type="hidden" name="r" th:value="${role}" />         
        <button type="submit" class="darkred" th:text="#{request.new}">New request</button>
      </form>    
    </div>
    <div th:if="${iswriter}" th:include="fragment/common :: [//div[@id='test_footer']]"></div>
  </body>
</html>