<!DOCTYPE html>
<!-- index.html -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <body> 
<table border=1>
<tr>
<td valign="top" width=20 >Luda</td>
<td valign="top" width=20 >Mawa, Katia, Nick2</td>
</tr>
<tr>
<td valign="top" width=20 >Luda2</td>
<td valign="top" width=20 >Mawa2, Katia, Nick2</td>
</tr>
<tr>
<td valign="top" width=20 >Luda3</td>
<td valign="top" width=20 >Mawa3</td>
</tr>
</table>
</body>
</html>
