        <div>
        <p>
          This site I have built for myself, to test quality of my English translation of my first
          book written in Russian. I have translated first ten pages, and my American friend edited them. 
          Then I quickly built this site (I worked as a software programmer for many years) 
          and published both versions of translation - mine not edited and the edited one. Then I have sent an email 
          to two groups of people: one group had to read not edited translation and another group - the one edited by 
          my friend. After reading, they answered a few questions. These answers provided a great insight into the readers 
          perception, bringing along quite a few surprises. That experience convinced me that <b>the best way to gauge 
          the market is to test it</b>.
        </p>
        <p>
          Sounds obvious? Yet, how often we do it? 
        </p>
        <p>
          I used this site to test other things - writing ideas, titles, even single phrases - with a great success too. 
          After several my books were published, this method lost its importance of the only source of the market intelligence
          for me. I still use it, but not as often. Should I continue to invest time and money into the site maintenance? 
          That would be fine, I thought, if other writers could use it for their benefit too. So, I added support for multiple 
          accounts, to allow every registered user to access the same functionality I used to enjoy myself only. 
        </p> 
        <p>
           Recently I have also added support for finding an editor and finding a translator, which I missed in days of my search 
           for these services.           
        </p>
        <p>
          Look through the <a href="" th:href="@{/test/samplepages}">sample pages</a> 
          and see if this site could be of help for you.
        </p>
        <p>
          Glance through <a th:href="@{/user/blogs}">the blog</a> for more ideas and share some of your own.
        </p>
        <p>
          Start using the site <a href="" th:href="@{/user/useradd}">free</a> of charge. It was very helpful for me.
        </p>
        </div>
