        <div>
        <p>
          Этот сайт я сделал для себя, чтобы протестировать качествo моего собственного перевода на английский
          моей первой книги. Я перевел первые десять страниц, а мой приятель-американец отредактировал их.
          Вот тогда-то я и написал этот код (я много лет работал программистом) и поместил на сайт обе версии 
          перевода - свою и отредактированную. Затем я послал сообщение двум группам своих знакомых: одной группе я предложил
          прочитать мою версию перевода, другой - отредактированную. После этого каждый ответил на несколько вопросов,
          размещенных на сайте. Их ответы позволили мне взглянуть на свой перевод глазами читателей. Некоторые ответы
          меня очень удивили, изменив мое представление о том, как воспринимают читатели написанное мной. Этот опыт
          убедил меня, что <b>лучший способ предсказать реакцию рынка - это протестировать его</b>.     
        </p>
        <p>
          Очевидно? Но как часто мы делаем это?
        </p>
        <p>
          Я так же успешно использовал этот сайт для тестирования многого другого - идей и названий новых книг, вариантов сюжета и даже 
          отдельных предложений. После публикации нескольких книг, значимость этого метода как единственного источника сведений
          о рынке несколько ослабла. Я по-прежнему им пользуюсь, но все меньше и меньше. Продолжать поддерживать этот сайт и платить
          за его работу имело бы больший смысл, если бы другие писатели им пользовались тоже. Поэтому я добавил возможность создания
          многих тестов разными пользователями независимо друг от друга. Теперь каждый зарегистрированный пользователь может 
          делать то же, что я делал только для себя.
        </p> 
        <p>
           Недавно я добавил также возможность поиска переводчика и редактора. Этих услуг мне очень не хватало в свое время.
        </p>
        <p>
          Чтобы получить представление о возможностях сайта, просмотрите <a href="" th:href="@{/test/samplepages}">образцы страниц</a>.
        </p>
        <p>
          Загляните в <a th:href="@{/user/blogs}">блог</a>, где вы можете найти новые идеи и поделиться своими.
        </p>
        <p>
          Начните пользоваться сайтом <a href="" th:href="@{/user/useradd}">бесплатно</a> в своих интересах. Мне в свое время это очень помогло.
        </p>
        </div>
