<!DOCTYPE html>
<!-- testgroups -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: [//head]" />
 <body>
   <div th:include="fragment/common :: [//div[@id='logo']]"></div>
    <h3 th:if="${isnew}" align="center">
      <span th:include="#{new.create} :: [//div]" class="darkred">Create testers/groups/tests</span>
    </h3>
    <div class="listtable">
      <h2 th:text="#{testgroups.tablename}">All your test groups</h2>
      <table>
        <thead>
          <tr>
            <th th:text="#{testgroup.colname}">Name</th>
            <th th:text="#{testgroup.colsize}">Group size</th>
            <th th:text="#{testgroup.coltests}">Tests it participates</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t : ${testgroupsall}" th:class="${tStat.even}?'pale-blue':'pale-green'">
            <td><a th:href="@{/test/testgroup(id=${t.id})}"><span th:text="${t.name}">My Translation Group</span></a></td>
            <td th:text="${t.size}">3</td>
            <td>
              <span th:if="${testsmap.get(t.id).size()==0}" th:text="#{tests.no}">No tests</span>
              <span th:each="test : ${testsmap.get(t.id)}"><a th:href="@{/test/test(id=${test.id})}"><span th:text="${test.name}">My Test 1</span></a><br></br></span>
            </td>                        
          </tr>
          <tr th:if="${testgroupsall==null || testgroupsall.size()==0}">
            <td colspan="3"><span th:text="#{testgroups.no}">No test groups</span></td>
          </tr>
          <tr th:remove="all" class="pale-blue">
            <td>Another Group</td>
            <td>3</td>
            <td>Test 1</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <div align="center" >
      <form action="#" th:action="@{/test/testgroupadd}" method="get"> 
        <button type="submit" class="darkred" th:text="#{nav.add}">Add</button>
      </form>    
    </div>
    <div th:include="fragment/common :: [//div[@id='test_footer']]"></div>
  </body>
</html>